################################################################################
# GaryOS :: Git Attributes
################################################################################

########################################
# https://github.com/github/linguist
# https://github.com/github/linguist/blob/master/docs/overrides.md
########################################

artifacts/archive/**			linguist-vendored
gentoo/overlay/**			linguist-vendored
gentoo/savedconfig/**			linguist-vendored
linux/**				linguist-vendored

artifacts/files/initrc			linguist-language=shell

################################################################################
# End Of File
################################################################################
