################################################################################
# GaryOS :: Git Exclusions
################################################################################

########################################
# build directories
########################################

/sources/
/build/

########################################
# fetch directories
########################################

/gary-os/

################################################################################
# End Of File
################################################################################
