################################################################################
# grub defaults file
################################################################################

set debug=linux
set pager=0
set timeout=5

################################################################################

insmod part_gpt
insmod part_msdos

insmod ext2
insmod fat
insmod exfat
insmod ntfs
insmod net

insmod search
insmod linux
insmod chain

########################################

insmod all_video

serial --unit=0 --speed=9600 --word=8 --parity=no --stop=1
terminal_input console serial
terminal_output console serial

set menu_color_normal=white/black
set menu_color_highlight=black/red

########################################

set options_default="groot=${groot} gdata=${gdata} gmode=${gmode} ${gopts}"

#>>>set options_default="${options_default} acpi_osi=! acpi_osi=Linux"
set options_default="${options_default} rootwait ro"
set options_default="${options_default} init=/sbin/runit-init"

set options_boot="${options_default}"

################################################################################

function show_env {
	set pager=1
	set
	set pager=0
}

########################################

set options_serial_on="console=ttyS0,38400"
set options_serial_off="${options_serial_on} console=tty0"
if [ -z ${options_serial} ]; then
	set options_serial="${options_serial_off}"
fi
set options_boot="${options_default} ${options_serial}"

function serial_config {
	if [ "${options_serial}" == "${options_serial_off}" ]; then
		set options_serial="${options_serial_on}"
	else
		set options_serial="${options_serial_off}"
	fi
	echo -en "${options_serial}> "
	read options_serial_set
	if [ ${options_serial_set} != "" ]; then
		set options_serial="${options_serial_set}"
	fi
	set options_boot="${options_default} ${options_serial}"
}

################################################################################
# end of file
################################################################################
