[Desktop Entry]
Type=Application
Name=Tor Browser
GenericName=Web Browser
Comment=Tor Browser is +1 for privacy and −1 for mass surveillance
Categories=Network;WebBrowser;Security;
Exec=torbrowser %u
Icon=torbrowser
StartupNotify=true
StartupWMClass=Tor Browser
